#top-nav {
	position: fixed;
	width: 100%;
	top: 0;
}
#top-nav
{
    overflow: hidden;
    background-color: #aaa;
}
#top-nav a
{
	font-size: 24px;
    color: #444;
    padding: 10px;
    text-decoration: none;
}
#top-nav a.Home
{
   background-color: green;
    color: #ccc;
}
#top-nav a:hover
{
	color: #222;
}
#loader {
	
}
#side-bar {
	
}
#main {
	
}
#id {
	
}
